h3 {
  font-family: "popins", sans-serif;
  font-weight: 100;
  font-size: small;
}

.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-right: 20px; */
  color: gray;
  cursor: pointer;
}
